<img class="responsive-img" src="/images/cabecera-mano2.jpg" width="100%">
<div class="container">
  <h2 class=" fa fa-user center-align">Edit profile</h2><br>



  <form action="/user/<%= user._id %>/editUser" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" value="<%= user.username %>">
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" value="<%= user.name %>">
    </div>
    <div class="form-group">
      <label>Lastname</label>
      <input type="text" class="form-control" name="lastname" value="<%= user.lastName %>">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email" value="<%= user.email %>">
    </div>
    <div class="form-group">
      <label>Enter a location:</label>
      <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
    </div>

    <div class="col-sm-4">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>Select a profile picture</span>
          <input name="photo" type="file" class="file-loading" required>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>

      <div id="map"></div>
      <br>
      <div class="center-btn">
        <button class="btn waves-effect grey right" type="submit" name="action" value="Submit">Submit
          <i class="material-icons right">send</i>
        </button>
        <br></br>
      </div>

      <input id="latitude" name="latitude" type="text">
      <input id="longitude" name="longitude" type="text">
    </form>
  </div>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApXzFjm59CO5m3ox-cr3w3AiiVnsBHzfQ&libraries=places"></script>
  <script type="text/javascript" src="/javascripts/mapDrawAll.js"></script>
