<h2 class="center-align teal-text"> <%= category %> </h2>



<ul>
  <% product.forEach((product) => { %>
  <li><h5><%= product.name %></h5></li>
  <li>Product description: <%= product.description %></li>
  <li>Is available: <%= product.isAvailable %></li>
  <li><b><%= product.creator.username %></b></li>
  <% }) %>
</ul>
