<img class="responsive-img" src="/images/cabecera-mano2.jpg">

<div class="container">
<h2 class="center-align dark-grey-text"> <%= category %> </h2>






<div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">

          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <% product.forEach((product) => { %>
          <h4 class="card-title"><%= product.name %></h4>
          <p><%= product.description %></p>
          <p>Is available: <%= product.isAvailable %></p>
          <a class="green-text" href="/user/profile/<%= product.creator._id%>"><b><%= product.creator.username %></b></a>
          <% }) %>
        </div>
      </div>
    </div>
  </div>

</div>
